:root {
	--color-black: black;
	--color-blue: #2626d9;
	--color-dark-blue: #2323c7;
	--color-light-blue: #f5fcff;
	--color-green: #22c322;
	--color-dark-green: #1fad1f;
	--color-grey: #aaaaaa;
	--color-red: #b31919;
	--color-transparent: rgba(0,0,0,0);
	--color-white: white;
}

body {
	font-family: Helvetica;
}

#header {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#page-title {
    font-size: 2em;
}

#nav-button {
	position: absolute;
	left: 8px;
    top: 8px;
	color: var(--color-blue);
}
