:root {
	--color-black: black;
	--color-lightest-green: hsl(120, 65%, 95%);
	--color-lighter-green: hsl(120, 65%, 80%);
	--color-light-green: hsl(120, 65%, 65%);
	--color-green: hsl(120, 65%, 50%);
	--color-dark-green: hsl(120, 50%, 50%);
	--color-darker-green: hsl(120, 50%, 40%);
	--color-light-grey: hsl(0, 0%, 80%);
	--color-grey: #aaaaaa;
	--color-light-red: hsl(0, 45%, 80%);
	--color-red: hsl(0, 75%, 40%);
	--color-transparent: transparent;
	--color-white: white;
}

body {
	font-family: Helvetica;
	margin: 0px;
}

#header {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: var(--color-white);
	background-color: var(--color-darker-green);
	padding-top: 90px;
	padding-bottom: 10px;
}

#page-title {
    font-size: 3em;
}

#nav-button {
	position: absolute;
	left: 8px;
    top: 8px;
	color: var(--color-white);
}
