#content-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 16px;
	margin-top: 16px;
}

.body-panel {
	flex: 1 1 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8px;
}

.panel-header {
	font-size: 1.5em;
	margin-bottom: 8px;
	text-align: center;
}

.group {
	padding-bottom: 8px;
}

.group.last-group {
	padding-bottom: 0px;
}

.group-title {
	font-size: 1.25em;
	color: var(--color-darker-green);
}

#left-inner {
	display: flex;
	flex-direction: column;
}

#name-input-container {
	display: flex;
	justify-content: center;
	padding-bottom: 8px;
}

input:not([type="radio"]) {
	appearance: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid var(--color-grey);
	background-color: var(--color-lightest-green);
	padding: 4px 0px 4px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 0.9em;
}

#name-input {
	padding-left: 4px;
}

#names {
	margin-top: 8px;
}

.name-list-item {
	padding: 4px 8px 4px 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
	background-color: var(--color-lightest-green);
}

.name-list-item:nth-child(2n) {
	background-color: var(--color-transparent);
}

.clear-icon {
	color: var(--color-grey);
	font-size: 1.2em !important;
	cursor: pointer;
	transition: color 0.2s;
}

.name-list-item:hover > .clear-icon {
	color: var(--color-red);
}

input {
	appearance: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid var(--color-grey);
}

input:focus-visible {
	outline: none;
	border-bottom-color: var(--color-dark-green);
}

button {
	appearance: none;
	cursor: pointer;
	padding: 4px;
}

#name-submit {
	background-color: var(--color-transparent);
	color: var(--color-darker-green);
	font-weight: bold;
	border-width: 0px;
}

#name-submit:hover {
	background-image: linear-gradient(to bottom, var(--color-white), var(--color-lightest-green));
}

#name-submit:active {
	background-image: linear-gradient(to top, var(--color-white), var(--color-lightest-green));
}

#randomize {
	background-image: linear-gradient(to bottom, var(--color-light-green), var(--color-green));
	border-radius: 4px;
	border-width: 0px;
	color: var(--color-white);
	font-weight: bold;
	margin-top: 8px;
	letter-spacing: 0.5px;
}

#randomize:active {
	background-image: linear-gradient(to top, var(--color-light-green), var(--color-green));
}

#groups-input-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#groups-label {
	padding-right: 8px;
}

#groups-input {
	text-align: center;
}

#groups-input-type {
	display: flex;
	flex-direction: column;
	padding-left: 8px;
}
