#content-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 16px;
	margin-top: 16px;
}

.body-panel {
	flex: 1 1 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-header {
	font-weight: bold;
}

#left-inner {
	display: flex;
	flex-direction: column;
}

#name-input-container {
	display: flex;
	justify-content: center;
	padding-bottom: 8px;
}

.name-input-icon {
	cursor: pointer;
	margin-left: 8px;
}

#groups-input-container {
	display: flex;
	flex-direction: row;
}

#groups-label {
	padding-right: 8px;
}

#groups-input {
	flex: 1 1 0;
}

input {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid lightblue;
	outline: none;
}

input:focus-visible {
	border-bottom: 1px solid blue;
}
